/*
Creator: Dru Woodville
Date Created: 4/29/21
Date Last Modified:
*/
html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f9fcff;
    color: #0d1f2d;
    max-width: 1200px;
    /*margin: left;
     padding: 5px 20px 20px 20px; */
    margin-bottom: 100px;
}
header, footer {
    background-color: #291f1e;
    color: #f9fcff;
    text-align: center; 
    height: 120px;
    
}
h1 {
    font-size: 2.2em;
    font-family: papyrus;
}
h3 {
    font-family:papyrus;
    font-size: 1.1em;

}

.clear-float {
    clear:both;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 1200px;
    height: 100px;
    line-height: 30px;
    padding: 10px;
    
    
}
.container {
    width: auto;
    max-width: 1200px;
    
  }
 
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  } 